<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>VUE</title>
</head>

<body>

    <div class="container mt-3" id="CR">
        <h1>Mis Productos</h1>
        <form @submit.prevent>
            <div class="mb-3">
                <label class="form-label">Nombre del producto</label>
                <input v-model="nombre" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Precio del producto</label>
                <input v-model="precio" type="number" class="form-control">

            </div>
            <div class="mb-3">
                <label class="form-label">Cantidad de productos</label>
                <input v-model="cantidad" type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Color</label>
                <input v-model="color" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Caracteristicas</label>
                <input v-model="caracteristicas" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Pasillo</label>
                <input v-model="pasillo" type="number" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Foto</label>
                <input v-model="url" type="text" class="form-control">
            </div>

                <button @click="agregar()" type="submit" class="btn btn-primary">Agregar</button>

        </form>

    <div :class="'table mt-5 table-'+colortable">
        <select v-model="colortable">
            <option value="dark"> Color Negro</option>
            <option value="danger"> Rojo</option>
            <option value="success">Verde</option>
            <option value="warning">Amarillo</option>
            
            </select>
            {{colortable}}
        <table :class="'table mt-5 table-'+colortable">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Color</th>
                    <th scope="col">Caracteristicas</th>
                    <th scope="col">Pasillo</th>
                    <th scope="col">url</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    
                </tr> -->
                <tr v-for="producto in productos">
                    <th scope="row">{{producto.nombre}}</th>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.color}}</td>
                    <td>{{producto.caracteristicas}}</td>
                    <td>{{producto.pasillo}}</td>
                    <td><img :src="producto.url" alt="" style="width: 100px;"></td>
                
                </tr>
            </tbody>
        </table>
        </div>

    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="Carrito.js"></script>

</body>

</html>